/*Estilo da aplicação*/
/* Criando Variáveis */
/* Site com paleta de cores https://color.adobe.com/pt/create/color-wheel */
:root {
    --cor-primaria: #212D38;
    --cor-secundaria: #34485A;
    --cor-fundo: rgb(77, 106, 133);
    --cor-texto: #333;
    --cor-titulo: rgb(230, 170, 96);
    /* Espaçamento */
    --espaco-xxs: 4px;
    --espaco-xs: 8px;
    --espaco-sm: 12px;
    --espaco-md: 16px;
    --espaco-lg: 24px;
    --espaco-xl: 32px;
    --espaco-xxl: 48px;
}

/*Eu quero mudar o componente html*/
body {
    /* Fonte*/
    font-family: Arial, Helvetica, sans-serif;
    /* Margem Externa*/
    margin: 0;
    /* Margem Interna */
    padding: 0;
    /* Cor de Fundo */
    background-color: var(--cor-fundo);
    /* Cor do Texto */
    color: var(--cor-texto);
}

.container {
    background-color: var(--cor-titulo);
    /* Tamanho máximo */
    max-width: 50%;
    margin: 0 auto;
    padding: var(--espaco-lg);
}

header {

    background-color: var(--cor-primaria);
    padding: var(--espaco-lg);
    /* Alinhamento do texto */
    text-align: center;
    color: white;
    font-size: 24px;
}

nav {
    background-color: var(--cor-secundaria);
    padding: var(--espaco-sm);
    text-align: center;
}

/* Mudar apenas os links do menu */
nav a {
    color: white;
    /* Remover o traço embaixo do link */
    text-decoration: none;
    /* 10px superior e inferior */
    /* 20px direita e esquerda */
    padding: 10px 20px;
    /* Ele ocupa o espaço do texto e/ou a dimensão do componente */
    display: inline-block;
}

/* Configurar o hover do botão */
nav a:hover {
    background-color: var(--cor-primaria);
}

/* Configurar o main (menu principal) */
main {
    padding: var(--espaco-lg);
    text-align: center;
}

/* Rodapé */
footer {
    background-color: var(--cor-primaria);
    color: white;
    text-align: center;
    padding: var(--espaco-sm);
    /* Fixar o conteúdoa a tela */
    position: fixed;
    /* Fixar no final da página */
    bottom: 0;
    width: 100%;
    font-size: 100%;
}